[submodule "bg-Changer"]
	path = bg-Changer
	url = https://github.com/vedansh06/bg-Changer
[submodule "password-generator"]
	path = password-generator
	url = https://github.com/vedansh06/password-generator
