[submodule "bg-Changer"]
	path = bg-Changer
	url = https://github.com/vedansh06/bg-Changer
[submodule "password-generator"]
	path = password-generator
	url = https://github.com/vedansh06/password-generator
[submodule "currency-convertor"]
	path = currency-convertor
	url = https://github.com/vedansh06/currency-convertor
[submodule "theme-switcher"]
	path = theme-switcher
	url = https://github.com/vedansh06/theme-switcher
[submodule "react-router"]
	path = react-router
	url = https://github.com/vedansh06/react-router
[submodule "currency-convertor02"]
	path = currency-convertor02
	url = https://github.com/vedansh06/currency-convertor02
[submodule "redux-toolkit"]
	path = redux-toolkit
	url = https://github.com/vedansh06/redux-toolkit
[submodule "spotify-clone"]
	path = spotify-clone
	url = https://github.com/vedansh06/spotify-clone
