[submodule "bg-Changer"]
	path = bg-Changer
	url = https://github.com/vedansh06/bg-Changer
[submodule "password-generator"]
	path = password-generator
	url = https://github.com/vedansh06/password-generator
[submodule "currency-convertor"]
	path = currency-convertor
	url = https://github.com/vedansh06/currency-convertor
[submodule "theme-switcher"]
	path = theme-switcher
	url = https://github.com/vedansh06/theme-switcher
